<h1> Contact</h1>

<p> Phone: (213)-284-0841 </p>
<p> Discord: Aiz#6043
<p> Email: mohammedhossane0.0@gmail.com </p> 
  

<div>
    <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" width="30%" height="45%">
    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968968.png" width="30%" height="45%">
    <img src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" width="30%" height="45%">

</div>




<style>
    h1{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    p{
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    div{
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    }
    html{
        border-style: solid;
        border-color: darkred;
        border-width: 5px
    }
        </style>