<h1> Home </h1>
<p> This is the home page. To navigate other add the following to the url: </p>

<ul>
    <li> /home </li>
    <li> /about </li>
    <li> /contact </li>
    <li> "nothing" </li>

<style>
    h1{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    p{
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    ul{
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    li{
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkred;
    }
    div{
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    }
    html{
        border-style: solid;
        border-color: darkred;
        border-width: 5px
    }
        </style>